@model ProjectSummary.ViewModels.CountriesVM.CountriesListVM
@{
    ViewBag.Title = "List Country";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>
@using (Html.BeginForm("List", "Countries", FormMethod.Get))
{
    <div>
        Find by name: @Html.TextBoxFor(model=>model.Search, new { @class ="form-control"})
        <input type="submit" value="Search" class="btn btn-primary"/>
    </div>
}

@if(Model.Countries.Count==0)
{
    <div class="alert alert-info">Nothing Found</div>
}
else
{
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>
                @{ 
                    @Html.ActionLink("Name", "List", "Countries", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "name_desc" ? "name_asc" : "name_desc" }, { "Search", Model.Search } }, null)
                }
            </th>
            <th>
                @{
                    @Html.ActionLink("Population", "List", "Countries", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "population_asc" ? "population_desc" : "population_asc" }, { "Search", Model.Search } }, null)
                }
            </th>
            <th>
                @{
                    @Html.ActionLink("Foundation Date", "List", "Countries", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "date_desc" ? "date_asc" : "date_desc" }, { "Search", Model.Search } }, null)
                }
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Countries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Population)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundationDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
}